:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/* navbar */
body {
  /* margin: 10px; */
  padding: 0;
  border: 1px;
  margin: 5px 20px 0px 20px;
}
.fixed-top {
  background-color: white;
  padding-bottom: 10px;
}
.navbar {
  position: relative;
  display: flex;
  left: 0px;
  justify-content: space-around;
  padding-left: 10px;
  height: 5rem;
  align-items: center;
}
.signbtn {
  right: 20px;
  position: absolute;
}
.signbtn .signup {
  border-radius: 16px;
  color: white;
  border: none;

  background-color: #ff6b81;
}
.home {
  border-radius: 20px;
  padding: 14px;

  font-family: Arial, Helvetica, sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: 22px;
}
.try2 {
  display: flex;
  justify-content: space-around;

  width: 20vw;
}
.dripbin {
  top: 0px;
  left: 5px;
  position: absolute;
  height: 11vh;
}
.homes {
  position: absolute;
  top: 25px;
  left: 200px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* .nav-right > div {
  padding-right: 5px;
} */
.input-nav {
  flex-basis: 60%;
  width: 40rem;
}

/* image here */
.images {
  display: flex;
  flex-basis: 20%;
}

.try {
  padding-top: 12px;
}
.nav-item {
  margin-right: 30px;
}
#nav2 {
  flex-direction: row;
  display: flex;
  margin-left: 30px;
  /* padding-right: 30px; */
  justify-content: flex-start;
}
#nav2 .nav-link {
  font-size: 1rem;
  color: aliceblue;
}

.A {
  background-color: #756c68;
  border-radius: 2rem;
  padding: 16px;
}
.B {
  background-color: #a39d98;
  border-radius: 2rem;
  padding: 16px;
}
.C {
  background-color: #a1887f;
  border-radius: 2rem;
  padding: 16px;
}
.D {
  background-color: #acaea2;
  border-radius: 2rem;
  padding: 16px;
}
.E {
  background-color: #9a9389;
  border-radius: 2rem;
  padding: 16px;
}
.F {
  background-color: #555555;
  border-radius: 2rem;
  padding: 16px;
}
.G {
  background-color: #9e9e9e;
  border-radius: 2rem;
  padding: 16px;
}

/* main */
#background {
  background-image: url("img/image.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 100vw;
  height: 60vh;

  /* overflow: hidden; */
  margin-top: 2rem;
  position: relative;
}
#background .search-box {
  position: absolute;
  bottom: -22px;
  background-color: whitesmoke;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
}
.form-control {
  width: 10vw;
  background-color: whitesmoke;
  border: none;
  outline-style: hidden;
  font-size: 15px;
  border-radius: 20px;
  /* margin-bottom: 0;
  margin-top: 0px;
  padding: 18px 20px; */
}
/*  */
.search-box {
  width: 70vw;
  height: 90vw;
  padding: 10px 10px 0 18px;
  /* border-radius: 5px; */
  border: 1px solid lightgray;
  display: flex;
  align-items: stretch;
  margin-top: 3rem;
  margin-bottom: 0rem;
  /* box-shadow: 3px 3px 3px rgb(167, 164, 164); */
}
.search-input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  margin-top: 20px 20px 20px 20px;
}
.search-box:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.nav-2 {
  margin-top: 15px;
  padding-left: 20vw;
}

/* mansory conatainer */
.masonry {
  /* Masonry container */
  column-count: 4;
  column-gap: 0.3em;
}

.item {
  /* Masonry bricks or child elements */
  /* background-color: #eee; */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
body {
  font: 1em/1.5 "Open Sans", Arial, Sans-serif;
  margin: 0;
  /* background: #e9e9e9; */
}

.container {
  width: 95%;
  margin: 3rem auto;
}

.masonry {
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 0.85em;
}

.item {
  display: inline-block;
  /* background: #fff; */
  padding: 0.3em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* box-shadow: 2px 2px 4px 0 #ccc; */
}
.item img {
  max-width: 100%;
}
.footers {
  position: relative;
  font-size: 12px;
  height: 12vh;
  padding-top: 15px;
  background-color: rgb(245, 245, 245);
  text-decoration: none;
  font-weight: 600;
}
.ig {
  position: absolute;
  align-content: center;
  bottom: 8px;
}
.FB {
  padding-right: 20px;
  color: #555555;
}

.search-box {
  background-color: white;
  width: 60vw;
  height: 45px;
  padding: 15px 40px 40px 20px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  display: flex;
  align-items: stretch;
}

@media only screen and (min-width: 400px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 700px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 900px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media only screen and (min-width: 1100px) {
  .masonry {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 1260px;
  }
}
